body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  background: black;
  margin: auto;
  padding: 2px 0 0 2px;
  border-radius: 0 0 4px 4px;
}

.white,
.black {
  position: relative;
  display: inline-block;
  width: 13vw;
  max-width: 80px;
  height: 240px;
  margin: 0 2px 2px 0;
  background: #fff;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
}

.white:active {
  background: #f4f3f3;
  box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}
.black:active:after {
  background: #333;
  box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}

.black {
  background: black;
  margin: 0;
  width: 0;
  z-index: 2;
}

.black:after {
  content: '';
  position: absolute;
  top: -2px;
  transform: translateX(-55%);
  display: block;
  width: 8vw;
  max-width: 55px;
  height: 135px;
  background: #000;
  border-radius: 0 0 4px 4px;
  box-shadow: 1px 1px 0 #555, 2px 2px 0 #555;
}
